# ignoring the environnement and data folders
myofarm/
annotated_spheroids/
bigImg_spheroidDetails/
# ignoring code files that are not needed for the project
/compareFolder.py
/image_check.ipynb
/cnn-profiling-1.ipynb
/flow_testing.ipynb 
# /annotationCodeDev.ipynb
*.tif
*.tiff
*.pdf
*.pickle
*.csv
